@tailwind base;
@tailwind components;
@tailwind utilities;

:root::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root {
    background-color: #080e21
}

body {
    background-color: #080e21
}

html {
    scroll-behavior: smooth;
}